


.navbar-nav .nav-item .nav-link{
    color: antiquewhite;
    display: flex;
    align-items: center;
}
.collapse navbar-collapse {
    align-items: center;
}
.navbar-brand img{
 border-radius: 50em;

}
.d-flex {
    transform: translate(-70deg);
    bottom:20%;
    position: absolute;
    left:35%;


}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:  rgb(19, 19, 19);
    color: antiquewhite;
    height: 3rem;
}
.d-flex h1{
    margin-right: 5rem;
    margin-top: 3rem;

}
/* body{
    background-color: darkgreen;
} */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  input[type=submit] {
    background-color: darkslategrey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color:darkslategrey;
  }
  body{
    background-color:antiquewhite;
  }
/* .d-flex img{
    object-fit: cover;
} */
#subject:hover{
    color:red;
    transform: .4s;

}
