
*{
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-item .nav-link{
    color: antiquewhite;
    display: flex;
    align-items: center;
}
.collapse navbar-collapse {
    align-items: center;
}
.navbar-brand img{
 border-radius: 50em;

}
span{
    font-weight: bold;
}
.d-flex {
    transform: translate(90deg);
    bottom:25%;
    position: absolute;
    left:20%;

}

.d-flex h1{
    transform: translate(90deg);
    padding-top: 40px;

}
h1 .pad{
    padding: 0px;
}
.d-flex img{
    transform: translate(75deg);
}
/* footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:  rgb(19, 19, 19);
    color: antiquewhite;
    height: 3rem;
} */


/* footer */
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background:  rgb(19, 19, 19);



}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.12rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}




.d-flex h1{
    margin-right: 5rem;
    margin-top: 3rem;

}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  input[type=submit] {
    background-color: darkslategrey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color:darkslategrey;
  }
  body{
    background-color:antiquewhite;
  }
/* .d-flex img{
    object-fit: cover;
} */
#subject:hover{
    color:red;
    transform: .4s;

}
/* testimonial */
 .testimonials{
    padding: 40px ;
    padding-bottom: 80px;
    text-align: center;
    background: #f1f1f1;
    color: 434343;
    background-color: antiquewhite;
}
 .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;

}
.border{
    width: 260px;
    height: 5px;
    background: #6ab04c;
    margin:26px auto
    
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 

}
.col{
    flex:20%;
    max-width: 20%;
    box-sizing: border-box;
    padding: 15px;

}
.testimonial{
    background: #fff;
    padding: 25px;

}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
     
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
} 

/* end testimonial */



@media screen and (max-width:1200px) {
    .col{
        flex: 100%;
        max-width: 100%;
    }
    
}

@media screen and (max-width:960px) {
    .col{
        flex: 100%;
        max-width: 80%;
    }
    
}
@media screen and (max-width:600px) {
    .col{
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width:600px) {
    .d-flex img{
        max-width: 50%;
        max-height: 50%;
    }
}
.textAB h1{
    text-align: center;
    padding-top: 30px;
    font-size: 70px;
}
.textAB h5{
    text-align: center;
    font-size: 20px;
    padding-left:75px ;
    padding-right: 75px;
}
.textAB p{
    padding-left:75px ;
    padding-right: 75px;
}

.body{
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* about starts */
.container{
    width: 100;
    padding: 35px 10%;

}
/* .row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

} */
main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; 
}
.column header.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    padding: 0px 0px 20px 30px;
}
.column .contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.column .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.column .contents .box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}
.column .contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}
.box h4{
    position: relative;
    color: #11a372;

}
.box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;

}
.box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}
/* .images{
    display: flex;
    justify-content: center;
    
} */
.progress-title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px
}
.progress {
    width: 100%!important;
    height: 20px;
    background: #333;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
    
}
.progress .progress-bar {
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s
}
.skills{
    display: inline;
    justify-content: center;
    align-self: center;
}
.progressB{
display: flex!important;
}
h1 .tools{
    display: flex;
    text-align: center;
    justify-content: center;
}

/* projects starts */
.work p{
 text-align: center;
 padding-top: 15px;
 font-size: 30px;
 font-weight: bold;
 
}
/* project ends */
